/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; zoom: 1; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}*/

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Goodlayers Theme
*********************************/
.flexslider { margin: 0; position: relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
/*.flex-direction-nav {*height: 0;}*/
.flex-direction-nav i { margin-right: 0px; }
.flex-direction-nav a  { z-index: 10; display: block; font-size: 20px; line-height: 20px; padding: 30px 13px; 
	margin: -35px 0px 0px; position: absolute; top: 50%; overflow: hidden; opacity: 0; cursor: pointer; }
.flex-direction-nav .flex-prev { left: -0px; padding-right: 13px; }
.flex-direction-nav .flex-next { right: -0px; padding-left: 13px; }
.flexslider:hover .flex-prev, .flexslider:hover .flex-next { opacity: 0.8; }
.flex-direction-nav .flex-disabled { opacity: 0 !important; filter:alpha(opacity=0); cursor: default; }

.nav-container.style-1 .flex-direction-nav{ height: auto; float: left; margin-left: 15px; }
.nav-container.style-1 .flex-direction-nav li{ float: left; margin-right: 3px; }
.nav-container.style-1 .flex-direction-nav a{ position: static;  opacity: 1; margin: 0px; padding: 6px 13px; 
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.nav-container.style-1 .flex-control-nav{ display: none; }

/* Control Nav */
.flex-control-nav-wrapper{ text-align: center; line-height: 0; z-index: 10; position: absolute; left: 0px; right: 0px; }
.flex-control-nav { display: inline-block; padding: 15px 0px 0px; }
.flex-control-nav li { margin: 0 3px; float: left; }
.flex-control-paging li a { display: block; width: 8px; height: 8px; cursor: pointer;  
	border-width: 1px; border-style: solid; text-indent: -9999px; 
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.flex-control-paging li a.flex-active { cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}