/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
}

/*body {
    padding-top: 50px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
}*/
.container {
    position: relative;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*.clear{ display: block; clear: both; visibility: hidden; }*/
/*--- top navigation ---*/
.top-navigation-wrapper{ position: relative; z-index: 98; 
    border-bottom-width: 1px; border-bottom-style: solid; }
.top-navigation-left{ float: left; margin: 0px; }
.top-navigation-left-text{ font-size: 12px; letter-spacing: 1px; float: left; 
    padding: 14px 0px 13px; line-height: 18px; } 
.top-navigation-right{ float: right; margin: 0px 20px; display: inline-block; }
.top-social-wrapper{ padding-top: 11px; padding-bottom: 11px; float: left; } 
.top-social-wrapper .social-icon{ float: left; margin-left: 12px; max-width: 15px; }
.top-social-wrapper .social-icon:first-child{ margin-left: 0px; }
.top-social-wrapper .social-icon a{ opacity: 0.24; }
.top-social-wrapper .social-icon a:hover{ opacity: 0.4; filter: alpha(opacity=40); }
.gdlr-lms-header-signin{ float: left; padding: 12px 0px 11px 20px; } 
.gdlr-lms-header-signin:before{ content: "•"; margin-right: 20px; } 


/* course style */
body.single-course .gdlr-lms-rating-wrapper { padding-top: 8px; }

.gdlr-course-button .gdlr-lms-button{ margin-bottom: 20px; }
.course-item-wrapper{ margin-bottom: 20px; }
.gdlr-content .container .gdlr-lms-course-grid-wrapper,
.gdlr-content .container .gdlr-lms-course-grid2-wrapper,
.section-container.container .gdlr-lms-course-grid-wrapper,
.section-container.container .gdlr-lms-course-grid2-wrapper{ margin-left: 0px; margin-right: 0px; }

.gdlr-lms-rating-wrapper i { font-size: 16px; margin-right: 10px; }
.gdlr-lms-rating-wrapper .gdlr-lms-rating-amount{ font-size: 12px; }
.gdlr-lms-course-full .gdlr-lms-rating-wrapper{ margin-top: -15px; margin-bottom: 25px; }
.gdlr-lms-course-grid .gdlr-lms-rating-wrapper{ margin-bottom: 15px; }
.gdlr-lms-course-medium .gdlr-lms-rating-wrapper{ margin-top: -15px; margin-bottom: 25px; }

.gdlr-lms-course-medium { margin-bottom: 60px; }
.gdlr-lms-course-medium .gdlr-lms-course-thumbnail{ max-width: 60%; float: left; margin-right: 35px; }
.gdlr-lms-course-medium .gdlr-lms-course-thumbnail img{ display: block; }
.gdlr-lms-course-medium .gdlr-lms-course-content{ overflow: hidden; }
.gdlr-lms-course-medium .gdlr-lms-course-title { font-size: 23px; font-weight: bold; margin: 5px 0px 25px; letter-spacing: 2px; text-transform: uppercase; }

.gdlr-lms-course-full{ margin-bottom: 60px; }
.gdlr-lms-course-full .gdlr-lms-course-thumbnail{ margin-bottom: 40px; }
.gdlr-lms-course-full .gdlr-lms-course-info-wrapper { width: 35%; float: left; margin-right: 40px; }
.gdlr-lms-course-full .gdlr-lms-course-content { overflow: hidden; }
.gdlr-lms-course-full .gdlr-lms-course-title { font-size: 23px; font-weight: bold; margin: 0px 0px 27px; letter-spacing: 2px; text-transform: uppercase; }
.gdlr-lms-course-full .excerpt-read-more { margin-top: 25px; display: inline-block; font-weight: 600; }

.gdlr-lms-course-grid-wrapper { margin-left: -15px; margin-right: -15px; }
.section-container.container .gdlr-lms-course-grid-wrapper.gdlr-lms-carousel,
.gdlr-lms-course-grid-wrapper.gdlr-lms-carousel { margin-right: 15px; margin-left: 15px; }
.gdlr-lms-course-grid { margin-bottom: 40px; }
.gdlr-lms-course-grid .gdlr-lms-course-thumbnail{ margin-bottom: 35px; }
.gdlr-lms-course-grid .gdlr-lms-course-title { font-size: 22px; font-weight: bold; margin: 0px 0px 25px; letter-spacing: 2px; text-transform: uppercase; }
.gdlr-lms-col3.gdlr-lms-course-grid .gdlr-lms-course-title{ font-size: 17px; margin: 0px 0px 15px; }
.gdlr-lms-col3.gdlr-lms-course-grid .gdlr-lms-course-thumbnail{ margin-bottom: 30px; }
.gdlr-lms-col4.gdlr-lms-course-grid .gdlr-lms-course-title{ font-size: 17px; margin: 0px 0px 15px; }
.gdlr-lms-col4.gdlr-lms-course-grid .gdlr-lms-course-thumbnail{ margin-bottom: 30px; }

.gdlr-lms-course-grid2-wrapper { margin-left: -15px; margin-right: -15px; }
.section-container.container .gdlr-lms-course-grid2-wrapper.gdlr-lms-carousel,
.gdlr-lms-course-grid2-wrapper.gdlr-lms-carousel{ margin-right: 15px; margin-left: 15px; }
.gdlr-lms-course-grid2.gdlr-lms-item{ border-bottom-width: 2px; border-bottom-style: solid; }
.gdlr-lms-course-grid2 .gdlr-lms-item{ margin-bottom: 30px; border-bottom-width: 2px; border-bottom-style: solid; }
.gdlr-lms-course-grid2 .gdlr-lms-course-title { font-size: 14px; font-weight: bold; 
    text-transform: uppercase; margin: 5px 0px 20px; letter-spacing: 2px; }
.gdlr-lms-course-grid2 .gdlr-lms-course-content { padding: 26px 25px; }
.gdlr-lms-course-grid2 .gdlr-lms-course-price { float: left; margin: 0px; }
.gdlr-lms-course-grid2 .gdlr-lms-course-info { float: right; margin: 5px 0px 0px; 
    font-size: 13px; text-transform: uppercase; }
.gdlr-lms-course-grid2 .gdlr-lms-course-info i { margin-right: 8px; }
.gdlr-lms-course-grid2 .gdlr-lms-course-price span { display: inline-block;
    padding: 6px 18px; font-weight: bold; font-size: 14px; }

.gdlr-lms-course-single { margin: 0px 15px; }
.gdlr-lms-course-single .gdlr-lms-course-info-wrapper { width: 30%; float: right; padding: 35px 30px 15px; margin-left: 30px; }
.gdlr-lms-course-single .gdlr-lms-course-content { overflow: hidden; }
.gdlr-lms-course-single .gdlr-lms-course-info-author-image { overflow: hidden; max-width: 150px; margin: 0px auto 40px;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.gdlr-lms-course-single .gdlr-lms-course-info-author-image img{ display: block; }
.gdlr-lms-course-single .gdlr-lms-course-thumbnail{ margin-bottom: 30px; }

.gdlr-lms-course-content-time-left { background: #f3f3f3; padding: 40px; text-align: center; font-size: 15px }
.gdlr-lms-course-content-time-left i { color: #F5C630; font-size: 45px; display: block; margin-bottom: 25px; }

.gdlr-lms-single-course-info { padding: 20px 30px; margin-top: 45px; }
.gdlr-lms-single-course-info .portfolio-info{ margin-bottom: 10px; }
.gdlr-lms-single-course-info .portfolio-info i { margin-right: 12px; font-size: 17px; }

.gdlr-lms-course-pdf { padding-top: 35px; background: #fff; overflow: hidden; }
.gdlr-lms-course-pdf .gdlr-lms-part-pdf { margin-bottom: 10px; }
.gdlr-lms-course-pdf .gdlr-lms-pdf-download { float: left; font-size: 44px; line-height: 1; padding: 5px 10px; }
.gdlr-lms-course-pdf .gdlr-lms-part-pdf-info { overflow: hidden; padding: 5px 10px; display: inline-block; }

.gdlr-lms-course-info-sidebar { margin: 15px -30px -15px; overflow: hidden; background-color: #fff; padding-top: 35px; }
.gdlr-lms-course-info-sidebar .gdlr-item { margin: 0px; }
.gdlr-lms-course-info-sidebar .gdlr-widget-title { font-size: 13px; text-transform: uppercase; letter-spacing: 2px; }

.gdlr-lms-content-type .gdlr-lms-course-info-wrapper{ padding: 0px; }
.gdlr-lms-content-type .gdlr-lms-course-info{ padding: 35px 30px; margin: 0px; }
.gdlr-lms-content-type .gdlr-lms-course-info-wrapper .gdlr-lms-button.cyan { display: block; margin: 0px; text-align: center; }
.gdlr-lms-content-type .gdlr-lms-course-info-title { font-size: 13px; font-weight: bold; text-transform: uppercase;
    text-align: center; padding: 18px 20px 17px; margin: 0px; }
.gdlr-lms-content-type .gdlr-lms-course-pagination{ text-align: right; margin-top: 40px; }
.gdlr-page-view-answer .gdlr-lms-course-pagination{ text-align: right; margin-top: 40px; }
.gdlr-lms-course-pagination .gdlr-course-button{ display: inline; }
.gdlr-lms-course-pagination .gdlr-lms-button { margin-bottom: 0px; }

.gdlr-lms-quiz-type .gdlr-lms-course-info-wrapper{ padding: 0px; }
.gdlr-lms-quiz-type .gdlr-lms-course-info{ padding: 35px 30px; margin: 0px; }
.gdlr-lms-quiz-type .gdlr-lms-course-info-wrapper .gdlr-lms-button.cyan { display: block; margin: 0px; text-align: center; }
.gdlr-lms-quiz-type .gdlr-lms-course-info-title { font-size: 13px; font-weight: bold; text-transform: uppercase;
    text-align: center; padding: 18px 20px 17px; margin: 0px; }
.gdlr-lms-quiz-type .gdlr-lms-course-pagination{ text-align: right; margin-top: 40px; }
.gdlr-lms-quiz-type .gdlr-lms-quiz-timer{ padding: 15px 30px; font-size: 45px; font-weight: bold; }
.gdlr-lms-quiz-type .gdlr-lms-quiz-timer i{ margin-right: 15px; }

.gdlr-lms-quiz-question { padding: 14px 25px; }
.gdlr-lms-quiz-answer { border-width: 1px; border-style: solid;  padding: 20px 100px 20px 25px; position: relative; }
.gdlr-lms-quiz-answer textarea { margin: 5px 0px; height: 100px; width: 100%; border-width: 1px; border-style: solid; }
.gdlr-lms-quiz-choice { margin-bottom: 8px; }
.gdlr-lms-quiz-choice input[type="checkbox"],
.gdlr-lms-quiz-choice input[type="radio"] { margin-right: 10px; }
.gdlr-lms-question-score{ position: absolute; top: 0px; right: 0px; text-align: center; padding: 15px 12px; }
.gdlr-lms-question-score .gdlr-head { display: block; font-weight: bold; font-size: 18px; line-height: 1; margin-bottom: 3px; }

.gdlr-lms-course-part { position: relative; font-weight: bold; padding-bottom: 38px; }
.gdlr-lms-course-part.gdlr-last { padding-bottom: 0px; }
.gdlr-lms-course-part-content { overflow: hidden; }
.gdlr-lms-course-part .part { font-size: 16px; display: block; line-height: 1; margin-bottom: 4px; }
.gdlr-lms-course-part .title { font-size: 14px; display: block; }
.gdlr-lms-course-part-icon { margin-right: 20px; float: left; }
.gdlr-lms-course-part-bullet { width: 11px; height: 11px; position: relative; z-index: 1;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.gdlr-lms-course-part.gdlr-current .gdlr-lms-course-part-bullet{ width:9px; height: 9px; margin-left: -3px;
    border-width: 4px; border-style: solid; }   
.gdlr-lms-course-part-line { position: absolute; width: 3px;  top: 0px; bottom: 0px; left: 4px; }
.gdlr-lms-course-part.gdlr-last .gdlr-lms-course-part-line { display: none; }

.gdlr-lms-lecture-part { margin-top: 18px; font-size: 13px; }
.gdlr-lms-lecture-part i { float: left; font-size: 14px; width: 23px; display: inline-block; margin-top: 4px; }
.gdlr-lms-lecture-part-content { overflow: hidden; }
.gdlr-lms-lecture-part-content .lecture-part { display: block; }
.gdlr-lms-lecture-part-content .lecture-title { display: block; }

.flexslider .gdlr-lms-item:first-child{ margin-left: 0px; }

/*--- navbar ---*/

/*--- search form ---*/

.icon-search {font-size: 16px; padding: 20px 10px; color: #337ab7; text-align: center; cursor: pointer; line-height: 1; }

/*--- footer ---*/
.footer-wrapper{ position: relative; background-repeat: no-repeat; background-position: right top; }
.footer-wrapper a { cursor: pointer; }
.footer-wrapper .widget.gdlr-widget { margin-bottom: 60px; }
.footer-wrapper .gdlr-widget-title { margin-bottom: 30px; text-transform: uppercase; letter-spacing: 2px; }
.footer-container{ padding-top: 60px; }
.ie7 .footer-wrapper{ overflow: hidden; }

.copyright-left { margin: 0px 15px; float: left; }
.copyright-right { margin: 0px 15px; float: right; }
.copyright-wrapper{ border-top-width: 1px; border-top-style: solid; }
.copyright-container{ padding: 15px 0px; }

/*--- shortcode ---*/
.gdlr-shortcode-wrapper { margin-left: -15px; margin-right: -15px; }

/*--- 404 page not found ---*/
.page-not-found-block { text-align: center; padding: 50px 50px 60px; margin: 50px 0px 50px; }
.page-not-found-block .page-not-found-title { font-size: 45px; line-height: 1; margin-bottom: 17px; }
.page-not-found-block .page-not-found-caption { font-size: 20px; margin-bottom: 35px; }
.page-not-found-block .page-not-found-icon { font-size: 89px; line-height: 1;  margin-bottom: 20px; }
.page-not-found-search { max-width: 300px; margin: 0px auto; }
.page-not-found-search  .gdl-search-form{ padding-right: 30px; }
.page-not-found-search  .gdl-search-form input[type="text"]{ padding: 12px 15px; font-size: 15px;
    border: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.page-not-found-search  .gdl-search-form input[type="submit"]{
    background-image: url('http://demos-pirftc7xlgm3gz2xr9zm.stackpathdns.com/clevercourse/wp-content/themes/clevercourse/images/light/icon-search.png');
    color: #fff;
 }
    
body.search .page-not-found-block{ margin-top: 0px; }

.page-not-found-block{ background-color: #d65938; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #963a20; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #d57f5c; }

/*--- search form ---*/
.gdl-search-form{ padding-right: 22px; position: relative; padding-right: 32px; }
.gdl-search-form input[type="text"]{ border-width: 0px; border-style: solid; width: 100%; padding: 15px 15px;
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; font-size: 13px; }
.gdl-search-form input[type="submit"] { position: absolute; right: 35px; top: 50%; margin: -8px 0px 0px; 
    width: 16px; height: 16px; padding: 0px; background-color: transparent; background-size: 16px 16px; border: none; }

input[type="submit"]{ display: inline-block; font-size: 12px; padding: 15px 23px; 
    margin-bottom: 15px; margin-right: 5px; outline: none; cursor: pointer; text-transform: uppercase; 
    font-weight: 700; letter-spacing: 1px; border: none; }

/*--- box with icon ---*/
.gdlr-box-with-icon-item{ text-align: center; padding: 40px 30px 20px; position: relative; }
.gdlr-box-with-icon-item > i{ font-size: 45px; display: inline-block; margin-bottom: 22px; margin-right: 0; }   
.gdlr-box-with-icon-item .box-with-icon-title{ font-size: 20px; margin-bottom: 20px; display: block; }  

.gdlr-box-with-icon-item.pos-left{ text-align: left; padding: 30px 40px 20px; }
.gdlr-box-with-icon-item.pos-left > i{ float: left; margin: 5px 25px 0px 0px; }

.gdlr-box-with-icon-item.type-circle .box-with-circle-icon{ padding: 18px; display: inline-block; 
    position: absolute; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.gdlr-box-with-icon-item.type-circle .box-with-circle-icon > i{ font-size: 22px; margin-right: 0; } 
.gdlr-box-with-icon-item.type-circle.pos-top{ padding-top: 50px; }
.gdlr-box-with-icon-item.type-circle.pos-top .box-with-circle-icon{ top: -30px; left: 50%; margin-left: -30px; }
.gdlr-box-with-icon-item.type-circle.pos-left{ margin-left: 40px; padding-left: 50px; }
.gdlr-box-with-icon-item.type-circle.pos-left .box-with-circle-icon{ left: -30px; top: 50%; margin-top: -30px; }

/*-- icon --*/
i.gdlr-icon { margin-right: 10px; }
.gdlr-box-with-icon-item{ background-color: #f5f5f5; }
.gdlr-box-with-icon-item > i, .gdlr-box-with-icon-item .box-with-icon-title{ color: #585858; }
.gdlr-box-with-icon-item{ color: #929292; }

/* Home Page Carousel */

header.carousel {
    height: 70%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.content-section-2 {
    margin-top: 40px;
    margin-bottom: 20px;
}
.color-wrapper {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 20px;
}


/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

.instructor {
    background-image: url('../img/page-title-background.jpg');
    margin-bottom: 50px;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}